                          <!--カード複数・3枚横並び-->


  
                          <div class="l-cards p-cards">
                            <div class="p-cards__item">
                            <%- include('../parts/_p-card') %>
                            </div>
                            <div class="p-cards__item">
                            <%- include('../parts/_p-card') %>
                            </div>
                            <div class="p-cards__item">
                            <%- include('../parts/_p-card') %>
                            </div>
                            <div class="p-cards__item">
                            <%- include('../parts/_p-card') %>
                            </div>
                            <div class="p-cards__item">
                            <%- include('../parts/_p-card') %>
                            </div>
                            <div class="p-cards__item">
                            <%- include('../parts/_p-card') %>
                            </div>
                            <div class="p-cards__item">
                            <%- include('../parts/_p-card') %>
                            </div>
                          </div> 
                          <!-- /.p-cards -->
