<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

    <body>
        <%- include('./common/_header') %>
            <!--下層ページMV-->
            <%- include('./parts/_p-sub-mv',{ title:'ブログ', spImage:'/images/common/sub-blog-mv-sp.jpg',
                pcImage:'/images/common/sub-blog-mv-pc.jpg' }) %>

                <div class="l-inner l-breadcrumb">
                    <!--パンくずリスト-->
                    <%- include('./parts/_c-breadcrumb',{ navigationList: [ { path: '/' , label: 'トップ' }, { path: '' ,
                        label: 'ブログ記事一覧' } ] }) %>
                </div>

                <!--ブログ一覧-->
                <section class="p-sub-blog l-inner">

                    <!--タブ-->
                    <div class="p-sub-blog__tab">
                        <%- include('./parts/_c-tab') %>
                    </div>
                    　
                    <!--カード一覧-->
                    <div class="p-sub-blog__cards">
                        <%- include('./parts/_p-cards') %>
                    </div>

                    <!--ページネーション-->
                    <div class="p-sub-blog__pager">
                        <%- include('./parts/_c-pager') %>
                    </div>

                </section>



                <!-- お問い合わせ -->
                <section class="p-sub-content__inquiry">
                    <%- include('./common/_inquiry') %>
                </section>



                <%- include('./common/_footer') %>
    </body>

</html>