<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <%- include('./common/_top-header') %>
      <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>
        <%- include('./common/_footer') %>


          <% for (var i=0; i < 4; i++) { %>
            <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>
              <% } %>


                <!--共通パーツサンプル（ひろこ）-->
                <!--セクションタイトル日本語 ※文字色が白のため見えてません・・-->
                <p>文字色が白のため見えませんが、日本語のセクションタイトルが二つ（制作実績とブログ）あります↓</p>
                <%- include('./parts/_c-section__title',{text:'制作実績'}) %>
                  <%- include('./parts/_c-section__title',{text:'ブログ'}) %>

                    <!--お問い合わせセクション-->
                    <%- include('./common/_inquiry') %>

                      <!--日付-->
                      <%- include('./parts/_c-date',{text:'2021.07.20', datetime:'2021-07-20'}) %>

                        <!--カテゴリーのラベル-->
                        <%- include('./parts/_c-label',{text:'カテゴリ'}) %>
                          <!--カテゴリーのラベル黄色バージョン-->
                          <%- include('./parts/_c-label-blog',{text:'カテゴリー'}) %>


                            <!--カード-->
                            <%- include('./parts/_c-card') %>
                            <%- include('./parts/_c-card') %>

                              <!--共通パーツサンプル（ひろこ）ここまで-->