<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <section class="p-overview">
      <%- include('./common/_header') %>
      <!--下層ページMV-->
      <%- include('./parts/_p-sub-mv',{
      title:'企業概要',
      spImage:'/images/common/sub-overview-mv-sp.jpg',
      pcImage:'/images/common/sub-overview-mv-pc.jpg'
      }) %>
      <div class="p-overview__inner l-inner">
        <div class="p-overview__breadcrumb">    
          <!--パンくずリスト-->
          <%- include('./parts/_c-breadcrumb',{
            navigationList: [
            {
              path: '/',
              label: 'トップ'
            },
            {
              path: '',
              label: '企業概要'
            }
            ]
          }) %>
        </div>

        <!-- 企業概要一覧 -->
        <div class="p-ovreview__lists">
          <%- include('./parts/_p-overview-list') %>
        </div>

        <!-- Google Map -->
        <div class="p-ovreview__map">
          <%- include('./parts/_c-map') %>
        </div>

        <!-- お問い合わせ -->
        <div class="p-overview__inquiry">
          <%- include('./common/_inquiry') %>
        </div>
      </div>
    </section>
    <%- include('./common/_footer') %>
  </body>
</html>
